
*{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}
header{
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.up{
  text-transform: uppercase;
}
.header-color{
  background-color: #171717;
  color: white;
  font-size: 0.8rem;
}
.flag{
  width: 18px;
  height: 14px;
}
.header-below{
  padding-top: 10px;
}
.divider{
  display: inline-block;
  border: 1px solid #9b9b9b;
  height: 18px;
  margin: 20px 5px 0 0px;
  margin-bottom: -4px;
  opacity: 0.5;
}

.input{
  width: 500px !important;
}
.top-bar input{
  max-width: 400px !important;
}
.header-right{
  padding-top: 10px;
}
.header-right li a{
  color: #9b9b9b;
  font-size: 0.9rem;
}
.header-right li a:hover{
  color: #9b9b9b;
}

.input-group input{
  display: inline-block;
}
.size{
  font-size: 0.7rem;
  color: white;
}
.text-free{
  position: relative;
  top: 10px;
}
.fi-search{
  position: absolute;
  font-size: 1.4rem;
  left: 10px;
}
.input-header{
  position: relative;
}
.menu-hover a:hover{
  background-color: #ffffff;
  color: #9b9b9b;
}
.logo {
  height: 39px;
  width: 99px;
}
@media (max-width: 600px) {
  .logo{
    width: 64px;
    height: 25px;
  }
  .header-right a{
    font-size: 1.3rem;
  }
  .fi-magnifying-glass{
    color: #9b9b9b
  }
}
.dropdown.menu>li.is-dropdown-submenu-parent>a:after{
  border: 0;
}

.menu-slide li a{
  color: #171717;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.off-canvas{
  background-color: #F2F2F2;
}

.fi-list{
  color: #9b9b9b;
  font-size: 1.5rem;
}
.fi-mail{
  color: #ffffff;
  font-size: 1.3rem;
  position: relative;
  top: 3px;
  padding-left: 5px;
  padding-right: 3px;
}
.header-top-right{
  float: right;
  position: relative;
  top: -10px;
  padding-left: 22px;
}
button.menu-icon{
  color: #9b9b9b;
}

.menu-header li {
  display: inline-block;
}
.nav-items li a{
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 74.9375em) {
  .menu-header input {
    width: 150px;
  }
}
.menu-header.top-bar {
  padding-top: 0;
  padding-bottom: 0;
}
.menu-header-top {
  width: 100%;
  background-color: #171717;
  height: 40px;
  padding: 8px 0 10px 0;
}

.menu-header-top-message {
  color: white;
  float: left;
}

.menu-header-top-links {
  color: white;
}

.menu-header-top-links ul li {
  display: inline;
  padding-left: 20px;
}

.menu-header-top-links a {
  color: white;
  transition: color 0.5s ease;
}

.menu-header-off-canvas .menu {
  padding: 1rem 0;
  background-color: #F2F2F2;
}

.menu-header-mobile {
  background-color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 1.25rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-header-mobile-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu-header-mobile-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header-mobile-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu-header-mobile-right .fi {
  color: #9b9b9b;
  font-size: 1.5rem;
  margin: 0 4px;
}
.position-left{
  width: 350px;
  transform: translateX(-350px);
}
.position-left.is-open~.off-canvas-content{
  transform: translateX(350px);
}
.accordion-title{
  font-size: 0.8rem;
  color: black;
}
.accordion-content ul li{
  list-style-type: none;
}
.accordion-content ul li a{
  font-size: 0.8rem;
  color: black;
}
.no-more:before{
  content: "";
}
.accordion{
  background-color: #F2F2F2;
}
.accordion-content{
  background-color: #F2F2F2;
  outline: none;
}
.accordion-title:hover{
  color: black;
}
/*SECTION*/
section.galeria{
  position: relative;
  top: 120px;
}
.galeria1{
  margin-bottom: 15px;
}
/*FOOTER*/
.marco{
  border-top: 1px solid gray;
  border-bottom:1px solid gray ;
  max-width: 100%;
  padding: 0 3%;
}
#footer-cont{
  width: 100%;
  border-top: 1px solid gray;;
  border-bottom: 1px solid gray;
}
.inicio{
  border-bottom:  1px solid gray;
  padding: 0.5em;
}
.borde{
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}
.space{
  padding: 1% 0.2%;
  font-size: .99em;
}
.no-padding{
  margin-left:  0;
  padding-left:  0;
}
.menu-vertical{
  margin: 0;
  padding: 0;
}
.icon-size{
  font-size: 2em;
  margin: 0.22em 0.1em;
}
.menu-vertical>li{
  list-style: none;
  margin-left: 0;
}
.rojo{
  background-color: red;
  color: #fff;
}
.bold-600{
  font-weight: bold;
  padding-top: 0.1em;
  padding-bottom: 0.6em;
}
.col-1{
  border-left: 1px solid gray  ;
}
.borde-down{
    border-bottom:1px solid gray  ;
}
a{
  text-decoration: none;
  color: #333;
  margin-left: 0;
}
.cuestion{
  background:black;
  color: white !important;
}
.has-tip{
  font-size: 0.8em;
}
.titulo-car{
  background-color: black;
  color: white;
  height: 50px;
}
.off-canvas.is-open{
  background-color: white;
  width: 25%;
  overflow: hidden;
}
.checkout{
  position: absolute;
  bottom: 10px;
  background-color: black;
  width: 90%;
  height: 50px;
  margin-left: 5%;
}
.white{
  color: white;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 419px){
  .inicio, .marco , .col-1 , .col-2{
    border: none;
  }
  .off-canvas.is-open{
    width: 70%;
  }
}
